.container {
    width: 1000px;
    margin: auto;  
}
/* @media only screen and (min-width: 1000px) {
    .container {
        width: 1000px;
        margin: auto;
    }
} */

/* headeri bashk me titull */
/*--------------------------------------------------------------*/
#header1 {
    background-color: #3c2520;
    height: 50px ;
}

.left-block {
    float: left;
    clear: left;
    padding-left: 20px;
}

.left-block a{
    color: #957964;
    text-decoration: none;

}

.right-block {
    float: right;
    clear: right;
    padding-right: 20px;
}
.right-block a{
    margin-right: 5px;
}
.links{
    position: relative;
    padding-top: 11px;
    padding-right: 20px;
    padding-left: 20px;
}

.icon{
    width: 30px;
    background-color: #957964;
}
#linkedin, #twitter, #pinterest, #googlePlus, #rssFeed{
    border-radius: 15px;
    background-color: #957964;
}
#linkedin:hover{
    background-color: #f12024;
}
#twitter:hover{
    background-color: #f12024;
}
#pinterest:hover{
    background-color: #f12024;
}
#googlePlus:hover{
    background-color: #f12024;
}
#rssFeed:hover{
    background-color: #f12024;
}

.title, .searchBox {
    margin-top: 20px;
    z-index: -1;
}
#titleM{
    font-size: 3.2rem;
    color: rgba(0,0,0,0.82);
}
.left-block h1{
    color: rgba(0,0,0,0.82);
}
.right-block p{
    text-align: right;
    color: gray;
}
#underTitle{
    color: #3c2520;
}
header{
    font-family: "serif";
}

/* #header1{
    border-color: #380d0d ;
} */

.right-block input[type=submit] { 
    background-color: #3c2520;
    color: white;
    width: 70px;
    height: 25px;
    /*font-weight: bold;*/
    font-family: serif;
    border: 0;
    font-size: 14px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.right-block input[type=submit]:hover {
    background-color: #957964;
}
.right-block input[type=text] {
    height: 20px;
}

/*Stilizimi i linqeve shtese*/
.dropdown {
    float: right;
    overflow: hidden;
}
/* Butoni i linqeve shtese */
.dropdown .dropbtn {
    font-size: 10px;
    border-radius: 0 0 5px 5px;
    outline: none;
    color: #eee;
    padding: 10px 12px;
    background-color: #957964;
    /* Te rendesishme per radhitje vertikale ne smartphone (font-family dhe margin-right).*/
    font-family: inherit;
    margin-right: 1.28rem;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    -webkit-transition: transform 1s ease 0s;
}

/* Shto ngjyren e kuqe kur gjendemi me maus mbi buton */
.dropdown:hover .dropbtn {
    background-color: #f12024;
    -webkit-transform: perspective(3000px) rotateX(30deg);
    display: inline-grid;
}

/* Permbajtja e butonit (by-default eshte e fshehur) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #957964;
    min-width: 80px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

/* Linqet brenda permbajtjes se butonit */
.dropdown-content a {
    float: none;
    color: #eee;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Shtimi i ngjyres se kuqe kur gjendemi me maus mbi link */
.dropdown-content a:hover {
    background-color: #f12024;
}

/* Kur gjendemi me maus mbi buton, shfaqi linqet shtese */
.dropdown:hover .dropdown-content {
    display: block;
}
/*------------------------------------------------------------- */
/* Ballina kryesore bashk me navbar*/
/*------------------------------------------------------------- */
#navbar {
    float: left;
    clear: both;
    width: 100%;
    margin-top: 25px;
    text-align: center;
}
#navbar ul {
    padding: 0;
    padding-top: 20px;
    font-size: 15px;
    list-style-type: none;
    overflow:auto;
    white-space:nowrap;
    width: 100%;
    height:58px;
}
#navbar ul  li{
    display: inline-block;
}
#navbar ul li a{
    text-align: center;
    text-decoration: none;
    color: #eee;
    padding:20px 24px;
    background-color: #3c2520;
}
#navbar ul li a:hover{
    background-color:#957964;
}
#navbar ul li:first-child a {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
#navbar ul li:last-child a {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-right: 30px;
}
#main-text {
    float: left;
    clear: both;
    text-align: center;
    width: 100%;
    margin-top: 50px;
    color: gray;
}
#main-text span{
    color: #957964;
}

#main {
    width: 558px;
    height: 450px;
    float: left;
    clear: both;
    margin-top: 5px;
    background-color: rgb(56, 56, 56);
    margin-left: 20px;
}

.small-box {
    width: 372px;
    height: 152px;
    background-color: rgb(56, 56, 56) ;
    float: left;
    margin-left: 30px;
    margin-top: 1px;
}

/*------------------------------------------------------------- */

#box-left {
    width: 470px;
    height: 423px;
    float: left;
    clear: both;
    padding-top: 20px;
    padding-left: 20px;
    margin-right: 20px;
    
}

#box-right {
    width: 470px;
    /*height: 300px;*/
    float: left;
    padding-top: 20px;
    padding-right: 20px;
}

.circled-photo {
    float: left;
    clear: left;
    
    
}
.info {
    float: left;
    width: 300px;
    margin-left: 22px;
    
}

.person-info-left {
    float: left;
    text-align: center;
    width: 200px;
    height: 323px;
    /*background-color: rgb(56, 56, 56) ;*/
    border: 1px solid lightgray;
    margin-left: 30px;
}
.person-info-left:hover, .person-info-right:hover{
    background-color: #957964;
    color: white;
}
.person-info-right {
    float: right;
    text-align: center;
    width: 200px;
    height: 323px;
    /*background-color: rgb(56, 56, 56) ;*/
    border: 1px solid lightgray;
}
#info-left, #info-right{
    color: gray;
}
.person-info-left:hover #info-left{
    color: white;
}
.person-info-right:hover #info-right{
    color:white;
}
#photoDiv1{
    margin-top: 28px;
}
#photo1{
    height: 123px;
    width: 123px;
}
#photoDiv2{
    margin-top: 28px;
}
#photo2{
    height: 123px;
    width: 123px;
}
#box-4 {
    background-color: #efefef;
    clear: both;
    overflow: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: Rockwell, "Lucida Fax", serif;
    border-top: 5px solid lightgray;
}
#box-3{
    font-family: Rockwell,"Lucida Fax",serif;
}
#gray-line1, #gray-line2{
    display: inline-block;
}
#line1-1,#line1-2,#line2-1,#line2-2{
    height: 5px;
    width: 160px;
    background-color: lightgray;
    border: 1px solid gray;
}
 #about-us-block-1 {
    width: 300px;
    float: left;
    padding-left: 20px;
    
}
#about-us-block-1 a{
    text-decoration: none;
    color: #957964;
} 

#about-us-block-2 {
    float: left;
    width: 300px;
    padding-left: 30px;

}
#about-us-block-3 {
    width: 300px;
    padding-left: 30px;
    float: left;
}
#box-3 a::after,#about-us-block-1 a::after{
    content: "\00BB";
}
#box-3 a{
    text-decoration: none;
    color: #957964;
}
#box-3 span{
    color: gray;
}
#box-4 span{
    color: gray;
}
#box-4 #email-span{
    color: #957964;
}
#about-us-block-2 ul li {
    list-style: none;
}
#about-us-block-2 ul {
    padding: 0;
}
#about-us-block-2 ul  hr {
    background-color: gray;
    height: 1px;
    border: 0;
}
#about-us-block-2 ul li a{
    text-decoration: none;
    color: #957964;
}
#about-us-block-2 ul li::before{ 
    content: "\00BB "; 
    color: #957964;
}

#about-us-block-3 input[type=text], #about-us-block-3 input[type=email] {
    height: 30px;
    border-radius: 5px;
    border: 0;
    background-color: #dddddd;
    font-family: Rockwell, "Lucida Fax", serif;
} 
 #about-us-block-3 input[type=submit] { 
    /*your styles here.....*/
    background-color: #957964;
    color: white;
    width: 90px;
    height: 35px;
     font-family: Rockwell, "Lucida Fax", serif;
    border: 0;
    border-radius: 7px;
    font-size: 15px;
 }

 #about-us-block-3 input[type=submit]:hover{
     background-color:#f12024;
 }
 #email-span a{
     text-decoration: none;
     color: #957964;
 }

footer{
    clear: both;
    color: #957964;
    background-color: #3c2520;
    height: 50px;
}
#this{
    background-image: linear-gradient(#957964,#3c2520);

}
#this:hover{
    background-image:linear-gradient(#957964,#957964);
}
