.container {
    margin: auto;  
}

.left-block {
    float: left;
    clear: left;
}

.icon{
    width: 37px;
    margin-left: 7px;
}

.right-block {
    float: right;
    clear: right;
}

.title, .searchBox {
    margin-top: 20px;
}

#header1{
    border-color: brown;
}

#navbar {
    float: left;
    clear: both;
    width: 100%;
    margin-top: 50px;
    text-align: center;
}

#main-text {
    float: left;
    clear: both;
    text-align: center;
    width: 100%;
    margin-top: 50px;
}

#text-bottom {
    
    margin-left: 200px;
    margin-right: 200px;
    float: left;
    margin-bottom: 20px;
}
fieldset{
    float: left;
    clear: both;
}

#small-container {
    
}

#main {
    width: 558px;
    height: 450px;
    float: left;
    clear: both;
    margin-top: 5px;
    background-color: black;
}

.small-box {
    width: 372px;
    height: 152px;
    background-color: black;
    float: left;
    margin-left: 20px;
    margin-top: 1px;
  
}

@media only screen and (min-width: 1000px) {
    .container {
        width: 1000px;
        margin: auto;
    }
}